body {
  font-family: sans-serif;
  background: #fff0f5;
  display: flex;
  justify-content: center;
}

.container {
  width: 300px;
  margin-top: 50px;
  text-align: center;
}

#messages {
  height: 200px;
  overflow-y: auto;
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
